/* Variables */
:root {
  --main-bg: #cccccc;
  --sect-bg: antiquewhite;
  --button: #dd0000; 
  --button-hov: #007700;
  --center-els: 0 auto; 
}
/* Google font */
/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dancing-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
       url('../fonts/dancing-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dancing-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dancing-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dancing-script-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dancing-script-v9-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
  font-family: sans-serif;
}
nav {
  background-color: black;
  text-align: right;
  padding-right: 10px;
}
.mainnav > ul > li {
  display: inline-block;
}
nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
}
[class^="dropmenu-"] {
  display: none;
  background: white;
  position: absolute;
  top: 20px;
}
[class^="dropmenu-"] li {
  list-style-type: none;
}
[class^="dropmenu-"] a {
  color: black;
}
.dropmenu-c {
  right: 30px;
}
.dropmenu-b {
  right: 70px;
}
.dropmenu-a {
  right: 160px;
}
.dropdown-a:hover nav, .dropdown-b:hover nav, .dropdown-c:hover nav {
  display: block;
}
header {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  background-image: url(../images/sergei-akulich-457851-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'Dancing Script';
  font-size: 3.5rem;
  flex: 0 0 6rem;
}
.subtitle {
  text-transform: uppercase;
}
section, article {
  background-color: var(--sect-bg);
  margin-bottom: 20px;
}
.jumbotron, .main-content {
  width: 85%;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.jumbotron-head, .main-head {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
.jumbotron-text, .main-text {
  margin: 0 15px 30px 15px;
  text-align: justify;
}
.main-text {
  padding-bottom: 20px;
}
.button-container {
  text-align: center;
}
.jumbotron-button {
  margin-bottom: 15px;
  background-color: var(--button);
  font-size: 1.5rem;
  padding: 10px;
  color: var(--sect-bg);
}
.jumbotron-button:hover {
  background-color: var(--sect-bg);
  color: var(--button-hov);
  border: 2px solid var(--button-hov);
}
.further-articles {
  width: 85%;
  margin: var(--center-els);
}